<nav x-data="navbar()" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-brand">
            <img src="oielogo.png" alt="Orienteering in Ireland Logo" class="navbar-logo" />
            <span class="navbar-title">IOC Archive</span>
        </div>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
            :class="isActiveMobile && 'is-active'"
            @click="isActiveMobile = !isActiveMobile"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu " :class="isActiveMobile && 'is-active'">
        <div class="navbar-start">
            <template x-for="page in pages" :key="page.url">
                <a
                    class="navbar-item"
                    :class="page.url === activePage ? 'is-active' : ''"
                    :href="page.url"
                    x-text="page.label"
                ></a>
            </template>
        </div>

        <div class="navbar-end">
            <div class="navbar-item"></div>
        </div>
    </div>
</nav>
